
body {
  background-color: #151924;
  color: #bec6cf;
}

h4 {
  color: #616467;
}

.centratura {
  padding: 0.5% 1%;
}

.dati {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
}

#js-password {
  font-size: 80px;
  color: #fff;
  text-align: center;
}
